<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>HP Inc.</Company><Pages>39</Pages><Words>4249</Words><Characters>24222</Characters><Lines>201</Lines><Paragraphs>56</Paragraphs><TotalTime>67</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>28415</CharactersWithSpaces><Application>WPS Office_12.1.25201.25201_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>4</DocSecurity></Properties>